<h2>Adicionar novo Produto ao Estoque
	<em class="heading_description">Informa&ccedil;&otilde;es do produto no seu estoque</em>
</h2>
<p>
	Selecione um produto e informe as quantidades máximas e mínimas que voc&ecirc; quer monitorar. Informe o quantia total deste produto no estoque seu estoque hoje.
</p>

<div id="product_inventories">
	<%= render :partial => 'form' %>
</div>
<div class="clear"></div>
