<div style="border: 1px solid #EEEEEE; padding: 1em; display: block;">
	
	<div id="profile_editor_label" class="editor_label">
		<div class="alignleft">Lista de Convites</div>
		<div class="alignright">
			
		</div>
	</div>	
	<div class="alignleft" style="color: #808080;">Nenhuma convite pendente.</div>
	<div class="clear"></div>
	<div class="alignright" style="margin-top: 20px;"><a id="add-contact-call" href="#" class="button_info">Convidar uma amiga consultora</a></div>
	<div class="clear"></div>
</div>
