<!--
<a href="#">
	<div class="first navigation_button <%= 'selected' if current_page?(:controller => 'profiles', :action => 'new') %>">
		<img src="/images/basic/bubble_32.png">
		<h2>Notícias</h2>
		<p>&Uacute;ltimas not&iacute;cias e atividades</p>
	</div>
</a>
-->
<a href="/profiles">
	<div class="first navigation_button <%= 'selected' if current_page?(:controller => 'profiles', :action => 'index') %>">
		<img src="/images/basic/address_32.png">
		<h2>Amigas</h2>
		<p>Lista de consultoras</p>
	</div>
</a>

<!--
<a href="#">
	<div class="navigation_button">
		<img src="/images/basic/user_info_32.png">
		<h2>Informa&ccedil;&otilde;es</h2>
		<p>Informa&ccedil;&otilde;es da consultora</p>
	</div>
</a>


<a href="#">
	<div class="navigation_button">
		<img src="/images/basic/letter_32.png">
		<h2>Mensagem</h2>
		<p>Enviar mensagem</p>
	</div>
</a>

-->
<a href="/product_inventories">
	<div class="navigation_button">
		<img src="/images/basic/box_content_32.png">
		<h2>Estoque</h2>
		<p>Controle de produtos no estoque</p>
	</div>
</a>

<a href="<%= edit_user_registration_path(current_user) %>">
	<div class="navigation_button last">
		<img src="/images/basic/settings_32.png">
		<h2>Conta</h2>
		<p>Configura&ccedil;&otilde;es da conta</p>
	</div>
</a>



