<div class="paginate">
	<div class="left">
		<% if @events %>
		<span><strong><%= l(Time.zone.now, :format => "%A, %d de %B de %Y") %></strong></span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<table class="grid no_hand">
<% if @events.size > 0 %>
	<tbody>
		<% @events.each do |event| %>
		<tr>	
			<td style="padding: 1em 0 1em 1em;">					
				<div style="display: block; border-style: solid;">
					<a style="margin-right: 10px; float: left;">					
						<img src="/images/basic/calendar_32.png" style="display: block;">					
					</a>
					
					<!--						
					<div style="text-align: right; margin-top: 8px; padding-left: 12px; float: right;">						
						<a href="#" class="button_info" style="">
							<span>Criar lembrete</span>
						</a>						
					</div>
					-->
					
					<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
						<span style="color: #333333;">					
							<%= link_to event.title, edit_event_path(event) %>					
						</span>
						<div style="color: #808080; font-size: 11px;">								
							<%= l(event.start_at, :format => :long).strip() %>								
						</div>										
				  </div>
				</div>			
			</td>														
		</tr>
		<% end %>
	<% else %>
		<tr>
			<td style="padding: 1em 0 1em 1em; width: 603px;"> 
				<div style="display: block;">Nenhum lembrete agendado.</div>
			</td>					
		</tr>
	<% end %>
	</tbody>
</table>


<div class="paginate bottom">
	<div class="left">
		
	</div>
	<div class="right">
		<div class="pagination">
			<a class="next_page" href="/events">Ir para p&aacute;gina &#187;</a>
		</div>
	</div>
	<div class="clear"></div>
</div>