<%= form_for(@friendship_request) do |f| %>
  <% if @friendship_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship_request.errors.count, "error") %> prohibited this friendship_request from being saved:</h2>

      <ul>
      <% @friendship_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
