<h1>Listing friendship_requests</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @friendship_requests.each do |friendship_request| %>
  <tr>
    <td><%= link_to 'Show', friendship_request %></td>
    <td><%= link_to 'Edit', edit_friendship_request_path(friendship_request) %></td>
    <td><%= link_to 'Destroy', friendship_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friendship request', new_friendship_request_path %>
