<h2>
	Editar Lembrete
	<em class="heading_description">Agendar lembrete</em>
</h2>
<p>
	Adicione novos lembretes para criar seu <a href="#">gerenciamento de rotina</a>, priorize as <b>tarefas</b> que voc&ecirc; tem para realizar durante a semana.
</p>

<%= render :partial => 'form' %>
<div class="clear"></div>