/*
	Autor - Daniel Negri www.danielnegri.com.br
*/

/* RESET + USEFUL CLASSES
 ------------------------------------- */

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	background-color: #FFFFFF;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}

p {
	margin-bottom: 20px;
}

/* remember to define focus styles! */

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

acronym {
	border-bottom: dotted 1px #9f9f9f;
	cursor: help
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* utility classes */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.center {
	margin: 0 auto;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.text-center {
	text-align: center;
}

/* clears floated elements */

.clear {
	display: block;
	width: 100%;
	height: 1px;
	clear: both;
	margin-top: -1px;
}

/* sorting images inline content */

img.alignright, a.alignright, span.image_caption.alignright {
	margin: 10px 0 10px 10px;
}

img.alignleft, a.alignleft, span.image_caption.alignleft {
	margin: 10px 10px 10px 0;
}

.line_breaker {
	height: 1px;
	border-bottom: solid 1px #9f9f9f;
	margin: 40px 0;
	clear: both;
}

#content .full,
#content .half,
#content .quart,
#content .onethird,
#content .twothirds,
#content .threequarts ,
#content .half_onethird {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
#content .full {
	width: 940px;	
}
#content .half {
	width: 460px;
}
#content .quart {
	width: 220px;	
}
#content .onethird {
	width: 300px;	
}
#content .twothirds {
	width: 620px;	
}
#content .threequarts {
	width: 700px;
}
#content .half_onethird {
	width: 140px;
}


/* @FONT-FACE for headings (h1-h4)
 ------------------------------------- */

@font-face {
	font-family: 'MyriadProSemiBold';
	src: url('/fonts/myriadpro-semibold-webfont.eot');
	src: local('☺'), url('/fonts/myriadpro-semibold-webfont.woff') format('woff'), url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semibold-webfont.svg#webfontYQdKYRYe') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProSemiBold';
	src: url('/fonts/myriadpro-semiboldit-webfont.eot');
	src: local('☺'), url('/fonts/myriadpro-semiboldit-webfont.woff') format('woff'), url('../fonts/myriadpro-semiboldit-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semiboldit-webfont.svg#webfontQe86VtAS') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('/fonts/myriadpro-it-webfont.eot');
	src: local('☺'), url('/fonts/myriadpro-it-webfont.woff') format('woff'), url('../fonts/myriadpro-it-webfont.ttf') format('truetype'), url('../fonts/myriadpro-it-webfont.svg#webfontGoVOOYIx') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* GRID & LAYOUT
 ------------------------------------- */

#wrapper,
#header_container {
	width: 100%;
}

#body_content,
#content {
	width: 960px;
	margin: 0 auto;
}

#content.has_sidebar {
	width: 620px;
	margin: 0 10px;
}

#content.has_sidebar.left {
	float: left;
}

#content.has_sidebar.right {
	float: right;
}

#sidebar {
	width: 300px;
	margin: 0 10px;
}

#sidebar.left {
	float: left;
}

#sidebar.right {
	float: right;
}

/* GLOBAL
 ------------------------------------- */

#wrapper {
	overflow: hidden;
	background: url(/images/inner_repeated_bg.png) repeat-x center top;
}

#header {
	width: 940px;
	margin: 0 auto;
	padding-top: 0px;
}

#body_content {
	margin-top: 25px;
}

#footer_container {
	margin-top: 30px;
	clear: both;
}

#footer {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid #ADADAD;
}

/* HEADINGS
 ------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222222;
	font-family: MyriadProSemiBold, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 15px;
	line-height: 1;
	text-shadow: 0 -1px 0 white;
}

h1 {
	font-size: 28px;
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
	margin-bottom: 15px;
}

h4 {
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

h5 {
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

h6 {
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

h1 em.heading_description,
h2 em.heading_description {
	display: block;
	font-size: 18px;
	color: #777;
	font-family: MyriadPro;
	margin-top: 10px;
	padding-top: 5px;
	border-top: dotted 1px #9f9f9f;
	text-transform: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #222
}

/* HTML ELEMENTS STYLE
 ------------------------------------- */

/* Body */

body {
	font: 13px/20px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #444444;
}

/* Links */

a,
a:link,
a:visited {
	color: #009db4;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a:active {
	color: #006371;
}

/* List */

ul {
	list-style-position: inside;
	list-style-type: square;
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
}

ul ul, ol ol {
	margin-left: 20px;
}

ul.reset_style,
ol.reset_style {
	margin: 0;
	list-style: none
}

label {
	font-size: 11px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 10px;
	padding-top: 6px;
	text-align: right;
	width: 145px;
	border: medium none;
	margin: 0;
	padding: 5px 1px 1px;
	vertical-align: top;
}

input, select, textarea {
	border: 1px solid #ADADAD;
	color: #444444;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	padding: 2px;
}

input[type="submit"], 
input[type="button"], 
a.button, 
a.button_info, 
a.button_alert, 
a.button_danger {
	background-color: #009DB4;
	color: #FFFFFF !important;
	line-height: 24px;
	padding: 0.5em 1em;
	text-align: center;
	background-image: url("/images/basic/button_background.png");
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
	margin-right: 1em;
}

a.button_info {
	background-color: #4477cc;
}

a.button_alert {
	background-color: #ffcc18;
}

a.button_danger {
	background-color: #B53F11;
}

a.button_info:hover,
a.button_alert:hover,
a.button_danger:hover {
	text-decoration: none;
}


img.avatar {
	background-color: white;
	border: 2px solid white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}


table, tbody, tfoot, thead, tr, th, td {
	vertical-align: middle;
}


/* HEADER
 ------------------------------------- */
#header_nav ul {
   float: right;
   list-style: none outside none;
   margin: 11px 0 0;
   padding: 0;			
}

#header_nav ul li {
   border-right: 1px solid #999999;
   display: inline;
   font-size: 11px;
   padding: 0 7px;
	font-color: #FFFFFF;
}

#header_nav ul li.last {
   border-right: 0 none;
}

#header_nav a {
	color: #FFFFFF;
}



/* Logo */

h1#logo {
	float: left;
	margin: -2px 0 3px;
	border: none;
}

h1#logo a {
	background: url(/images/logo.png) no-repeat left top;
	display: block;
	height: 43px;
	text-indent: -999em;
	width: 480px;
}

/* HEADER BAR
 ------------------------------------- */

.header_bar * {
    z-index: inherit;
}

.header_bar {
	background: url("/images/menu/tile.png") repeat-x scroll 0 0 #333333;
	line-height: 39px;
	padding-left: 0px;
}


.header_bar:after, .header_user:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

.header_bar li {
	float: left;
}

.header_bar_item {
	background: url("/images/menu/sh_divider.png") no-repeat scroll right center transparent;
	border-left: 1px solid #4C4C4C;
	border-right: 1px solid #000000;
	float: left;
	margin: 0;
	padding: 1px 16px 0;
	position: relative;
	z-index: 1000;
}

.header_bar_item_first {
	border-left: 1px solid #414141;
}

.header_bar_item_last {
	float: right;
	border-left: 0;
	border-right: 0;
	padding-right: 16px;
}

.header_bar_item_last:hover, 
.header_bar_item_last:active {
	border-left: 0;
	border-right: 0;
}

.header_bar_link, a.header_bar_link, a.header_bar_link:link, a.header_bar_link:visited, a.header_bar_link:active, a.header_bar_link:hover, a.header_bar_link:visited:hover {
	color: #DDDDDD;
	text-decoration: none;
	text-shadow: 0 -1px 0 #151515;
}

.header_bar_item_hover, .header_bar_item:hover {
	background: url("/images/menu/hover.png") repeat-x scroll left center transparent;
	border-left: 1px solid #515151;
}


.header_bar_item:active, .header_bar_item_active {
	background: url("/images/menu/active.png") repeat-x scroll left center transparent;
	border-left: 1px solid #303030;
	margin-left: 0;
	margin-right: 0;
	padding: 1px 16px 0;
}

div.header_panel_row {
    padding: 6px 12px;
    position: relative;
}

.header_panel_header {
    display: block;
    font-weight: bold;
}

.header_panel_header a {
    display: block;
    width: 100%;
}

.header_drop_panel {
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    border-color: #2F4E6B #B0B0B0 #737373;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    left: -1px;
    line-height: normal;
    margin-left: -1px;
    margin-top: -1px;
    padding: 6px 0;
    position: absolute;
    top: 100%;
    width: 400px;
    z-index: 100;
	display: block;
}

.header_drop_panel.hidden {
	display: none;
}


div.header_panel_link a, div.header_panel_link a:link, div.header_panel_link a:visited, div.header_panel_link a:active, div.header_panel_link a:visited {
    color: #333333;
    text-decoration: none;
}

div.header_panel_link_hover, div.header_panel_link_hover a, div.header_panel_link:hover, div.header_panel_link a:hover {
    background-color: #E5F1FA;
}


/* SIDEBAR
 ------------------------------------- */

#sidebar #search_widget {
	display: block;
	height: 32px;
	width: 300px;
	margin-bottom: 20px;
}

#sidebar input {
	border: 0;
	padding: 0;
}

#sidebar #search_widget #search_field {
	display: block;
	width: 260px;
	height: 32px;
	padding-left: 10px;
	background: url(/images/global/global.png) no-repeat left -272px;
	float: left;
	color: #666;
}

#sidebar #search_widget #search_field:focus {
	color: #444;
}

#sidebar #search_widget #search_submit {
	display: block;
	text-indent: -999em;
	height: 32px;
	width: 30px;
	float: right;
	background: url(/images/global/global.png) no-repeat -270px -272px;
	cursor: pointer;
	margin-right: 0 !important;
	box-shadow: 0;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

/* CONTENT WIDGET */

#sidebar .inline_content_widget {
	width: 270px;
	padding: 15px 15px 0 15px;
	background: url(../images/global/sidebar_widgets.png) no-repeat left top;
	margin-bottom: 20px;
}

#sidebar .inline_content_widget .widget_bottom {
	width: 300px;
	height: 15px;
	background: url(../images/global/sidebar_widgets.png) no-repeat left bottom;
	margin: 0 -15px;
}

#sidebar .inline_content_widget .widget_info {
	display: block;
	word-wrap: break-word;
	height: 115px;
}

#sidebar .inline_content_widget .widget_info a {
	margin-right: 8px;
	float: left;
	font-size: 11px;


}

#sidebar .inline_content_widget .widget_info .user_type {
	display: block;
	font-weight: bold;
	font-size: 13px;
	padding: 4px 0 1px;
	word-wrap: break-word;
}

#sidebar .inline_content_widget .widget_info .content {
	padding-right: 5px;
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

#sidebar .inline_content_widget .widget_title {
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	width: 270px;
	line-height: 1;
	padding-bottom: 20px;
	margin-bottom: 5px;
	background: url(../images/global/widget_title_breaker.png) no-repeat center bottom; 

}

#sidebar .inline_content_widget .widget_menu {
	padding-right: 5px;
	display: block;
	vertical-align: top;
	padding-top: 25px;
}

/* NAVIGATOR WRAPPER
 ------------------------------------- */

.navigation_wrapper a:hover, .navigation_wrapper a:active {
	text-decoration: none;
}

.navigation_wrapper a .navigation_button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #FFFFFF transparent #DDDDDD;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	padding: 10px 6px 15px;
	text-align: left;
}

.navigation_wrapper a .navigation_button.first {
	border-top: 1px solid transparent !important;
}

.navigation_wrapper a .navigation_button.last {
	border-bottom: 1px solid transparent !important;
}

.navigation_wrapper a .navigation_button:hover {
	background-color: #FFFFFF;
}

.navigation_wrapper a .navigation_button:active h2, .navigation_wrapper a .navigation_button:active p {
	color: black !important;
}

.navigation_wrapper a .navigation_button.selected {
	background-color: #E5F1FA !important;
}

.navigation_wrapper a .navigation_button.selected:hover {
	background-color: #E5F1FA !important;
}

.navigation_wrapper a .navigation_button h2 {
	color: #222222;
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
	margin: 6px 0 3px 44px;
	padding: 0;
	text-shadow: 0 1px 0 #FFFFFF;
	white-space: nowrap;
}

.navigation_wrapper a .navigation_button strong {
	color: #222222;
	font-size: 13px;
	margin: 6px 0 3px 13px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.navigation_wrapper a .navigation_button p {
	color: #666666 !important;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 0 0 44px;
	padding: 0;
	text-shadow: 0 1px 0 #FFFFFF;
}

.navigation_wrapper a .navigation_button span.new {
	color: #8CC63F;
	font-size: 10px;
}

.navigation_wrapper a .navigation_button img {
	float: left;
	margin: 6px 0 0;
	background-color: transparent;
	border: none;
}

 

/* EDITORS
 ------------------------------------- */

.editor_area {
	padding: 0px 0px 10px 0px;
}

.editor_area .avatar {
    background-color: #FFFFFF;
    border: 1px solid #B2B2B2;
    padding: 2px;    
    float: left;
}
/*
	margin: 5px 10px 10px 0px;
*/

.editor_label {
	border-bottom: 1px solid #ADADAD;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 4px;
	padding: 0 0 24px;
	display: block;
}

.editor_label a {
	cursor: pointer;
}

.editor_info {
	color: #777777;
	font-size: 11px;
}

.editor_table {
	width: 575px;
	margin: 3px auto 7px;
	cellspacing: 0;
}

.editor_table label {
	padding-left: 2px;
	text-align: left;
	padding-right: 10px;
	font-size: 11px;
	display: inline;
	font-weight: bold;
}

.editor_table td {
	border: medium none;
	margin: 0;
	padding: 5px 1px 1px;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
}

.editor_table td.label {
	padding-left: 0;
	text-align: right;
	width: 145px;
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 11px;
}

.editor_table .checkbox_span {
	display: block;
	font-style: italic;
	margin-top: -2px;
}

.editor_table .buttons_left {
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 0;
}

/* FOOTER
 ------------------------------------- */

#footer .copyright_info {
	font-size: 11px;
	float: left;
	margin-right: 30px;
}

#footer .footer_info {
	width: 400px;
	float: left;
	margin-right: 30px;
	font-size: 12px;
	line-height: 18px;
}

#footer .footer_nav_container {
	float: right;
}

#footer .footer_nav_container .footer_nav,
#footer .footer_nav_container .social_profiles {
	text-align: right;
}

#footer .footer_nav_container .footer_nav {
	margin-bottom: 5px;
}

#footer .footer_nav_container .footer_nav li,
#footer .footer_nav_container .social_profiles li {
	display: inline;
}

#footer .footer_nav_container .social_profiles li {
	margin: 0 1px;
}

#footer .footer_nav_container .social_profiles img {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

/* FORM - ERRORS AND NOTICES
 ------------------------------------- */

#notice {
	color: green;
}

.field_with_errors {
	
}

.field_with_errors input, 
.field_with_errors textarea, 
.field_with_errors select {
	border: 1px solid #DD3C10;
;
}

#error_explanation, 
#flash_alert, 
#flash_notice {
	width: 450px;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #FFEBE8;
	border: 1px solid #DD3C10;
}

#flash_notice {
	background-color: #FFFFFF;
	color: #green;
	border: 1px solid green;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square inside;
}

/* jQuery
 ------------------------------------- */

.ui-autocomplete-loading {
	background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* Horizontal List
 ------------------------------------- */
 .horizontal_list_selection {
 	padding-bottom: 30px;
 }
 

.horizontal_list_selection a.select_button {
	background: url("/images/basic/button_background.png") repeat-x scroll left top #DFDFDF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #333333 !important;
	cursor: pointer;
	display: inline;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0.5em 1em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(230, 230, 230, 0.5);
}

.horizontal_list_selection a.select_button:hover {
	background-color: #EFEFEF;
	color: #000000 !important;
	text-decoration: none;
}

.horizontal_list_selection a.select_button:active, .horizontal_list_selection a.select_button.current_view {
	background-color: #009DB4;
	background-image: url("/images/basic/button_background_inverted.png");
	box-shadow: 0 0 0 transparent;
	color: #FFFFFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.horizontal_list_selection a.select_button:active:hover, .horizontal_list_selection a.select_button.current_view:hover {
	text-decoration: none;
}

.horizontal_list_selection a.select_button:active:active, .horizontal_list_selection a.select_button.current_view:active {
	top: 0;
}

.horizontal_list_selection a.select_button.smaller {
	font-size: 10px;
	min-width: 1em;
	padding: 0.25em 0.5em;
	text-align: center;
}

.horizontal_list_selection a.select_button.disabled {
	background-attachment: scroll;
	background-color: #DFDFDF;
	background-image: url("/images/basic/button_background.png");
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid rgba(30, 30, 30, 0.2);
	box-shadow: 0 1px 2px rgba(30, 30, 30, 0.2);
	color: #909090 !important;
	text-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

.horizontal_list_selection a.select_button.disabled:hover {
	text-decoration: none;
}

.horizontal_list_selection a.select_button.disabled:active {
	top: 0;
}

.horizontal_list_selection .left_selector {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.horizontal_list_selection .center_selector {
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.3);
	border-style: solid;
	border-width: 1px;
}

.horizontal_list_selection .center_selector:active {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.horizontal_list_selection .right_selector {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	margin-right: 1em !important;
}

.horizontal_list_selection .right_selector:active {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* Search
 ------------------------------------- */

.search {
	display: inline;
	float: right;
	height: 40px;
	padding: 0;
	position: relative;
	text-align: right;
}

.search .search_wrapper {
	float: left;
	text-align: left;
}

.search .search_wrapper .search_icon {
	background-attachment: scroll;
	background-image: url("/images/basic/search_gradient.png");
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid #BBBBBB;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	display: inline;
	float: left;
	height: 24px;
	margin: 0;
	min-width: 1.75em;
	padding: 6px;
}

.search .search_wrapper input.search_field, .search .search_wrapper input.search_list {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom-right-radius: 4px;
	border-color: #BBBBBB #BBBBBB #BBBBBB -moz-use-text-color;
	border-style: solid solid solid none;
	border-top-right-radius: 4px;
	border-width: 1px 1px 1px 0;
	color: #CCCCCC;
	display: inline;
	float: left;
	font-size: 1.3em;
	height: 24px;
	margin: 0;
	padding: 6px 0.75em;
	width: 14em;
}

.search .search_wrapper input.search_field.thin, .search .search_wrapper input.search_list.thin {
	width: 12em;
}

.search .search_wrapper input.search_field:focus, .search .search_wrapper input.search_field.focused_search, .search .search_wrapper input.search_list:focus, .search .search_wrapper input.search_list.focused_search {
	color: #555555;
}

.search #loading {
	float: left;
	padding: 0 1em;
	position: absolute;
	right: 0.5em;
	text-align: right;
	top: 1em;
}

.search #loading img {
	margin-top: 0.2em;
}

/* Item List
 ------------------------------------- */

.paginate {
	-moz-border-radius-topleft: 0.75em;
	-webkit-border-top-left-radius: 0.75em;
	-khtml-border-top-left-radius: 0.75em;
	border-top-left-radius: 0.75em;
	-moz-border-radius-topright: 0.75em;
	-webkit-border-top-right-radius: 0.75em;
	-khtml-border-top-right-radius: 0.75em;
	border-top-right-radius: 0.75em;
	border: 1px solid #eee;
	border-bottom: 0 none;
	background-color: #eee !important;
}

.paginate.bottom {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-khtml-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomleft: 0.75em;
	-webkit-border-bottom-left-radius: 0.75em;
	-khtml-border-bottom-left-radius: 0.75em;
	border-bottom-left-radius: 0.75em;
	-moz-border-radius-bottomright: 0.75em;
	-webkit-border-bottom-right-radius: 0.75em;
	-khtml-border-bottom-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	border-top: 0 none;
	border-bottom: 1px solid #eee;
}

.paginate .left {
	float: left;
	padding: .5em 1em;
}

.paginate .left span strong {
	text-shadow: 0 1px 0 white;
}

.paginate .right {
	float: right;
	padding: .5em 1em;
}

.paginate .right .pagination a, .paginate .right .pagination span {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: .25em .5em;
	background-color: #eee;
	color: #009DB4;
	font-weight: 900;
	font-size: 11px;
}

.paginate .right .pagination a:hover, .paginate .right .pagination span:hover {
	text-decoration: none;
	background-color: #fff;
	border-color: #ADADAD;
}

.paginate .right .pagination a:active, .paginate .right .pagination a.current, .paginate .right .pagination span:active, .paginate .right .pagination span.current {
	color: white;
	background-color: #4477cc;
	border-color: #4477cc;
	text-shadow: 0 -1px 0 #003388;
}

.paginate .right .pagination a.disabled, .paginate .right .pagination span.disabled {
	background-color: transparent !important;
	border: 0 none !important;
	color: #666;
}

a.back_to_top {
	display: block;
}

a.back_to_top:hover {
	text-decoration: none;
}

a.back_to_top:hover .to_top_icon {
	background-position: -24px 3px;
}

a.back_to_top:hover strong {
	text-decoration: none;
	color: #999;
	text-shadow: 0 -1px 0 white;
}

a.back_to_top:active .to_top_icon {
	background-position: -48px 3px;
}

a.back_to_top:active strong {
	color: black;
	text-shadow: 0 1px 0 white;
}

a.back_to_top .to_top_icon {
	background-position: 0 3px;
	vertical-align: middle;
	float: left;
	display: inline;
	width: 12px;
	height: 12px;
	padding-right: .25em;
	padding-top: .25em;
	overflow: hidden;
	background-color: transparent;
	background-image: url(/images/basic/back_to_top.png);
	background-repeat: no-repeat;
}

a.back_to_top strong {
	color: #444;
	text-shadow: 0 -1px 0 white;
}


table.grid {
	border: 1px solid #eee;
	background-color: white !important;
	cellspacing: 0px;
	margin-left: 1px;
}

table.grid tbody tr:last-child td {
	border-bottom: 0 none;
}

table.grid tbody tr:hover, table.grid tbody tr.hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	background-color: #f1f8ff;
}

table.grid tbody tr:hover td.table_image .table_image_wrapper img, table.grid tbody tr.hover td.table_image .table_image_wrapper img {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-color: rgba(0,0,0,0.5);
	opacity: 1;
}

table.grid tbody tr:hover td.table_image .table_image_wrapper img.avatar, table.grid tbody tr.hover td.table_image .table_image_wrapper img.avatar {
	border-color: white;
}

table.grid tbody tr:hover td a, table.grid tbody tr.hover td a {
	text-decoration: none;
}

table.grid tbody tr:hover td a.view_hide, table.grid tbody tr.hover td a.view_hide {
	text-decoration: underline;
}


table.grid tbody tr:hover td.table_data div.table_data_wrapper .information h2, table.grid tbody tr.hover td.table_data div.table_data_wrapper .information h2 {
	color: #000;
}

table.grid tbody tr:hover td.table_data div.table_data_wrapper .actions, table.grid tbody tr:hover td.table_data div.table_data_wrapper .go_icon, table.grid tbody tr:hover td.table_data div.table_data_wrapper .status_icon, table.grid tbody tr.hover td.table_data div.table_data_wrapper .actions, table.grid tbody tr.hover td.table_data div.table_data_wrapper .go_icon, table.grid tbody tr.hover td.table_data div.table_data_wrapper .status_icon {
	visibility: visible;
}

table.grid tbody tr:hover td.table_data div.table_data_wrapper .act_as_translucent, table.grid tbody tr.hover td.table_data div.table_data_wrapper .act_as_translucent {
	opacity: 1;
}

table.grid tbody tr.invalid:hover {
	box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	-khtml-box-shadow: 0 0 0 transparent;
	cursor: pointer;
}

table.grid tbody tr td {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 5px 5px 5px 0px
}

table.grid tbody tr td h3 {
	padding: .5em 0 .5em .5em;
	margin: 0;
}

table.grid tbody tr td.table_image {
	vertical-align: middle;
	width: 120px !important;	
	text-align: center;
}

table.grid tbody tr td.table_image .table_image_wrapper {
	width: 120px !important;
	vertical-align: middle;
}

table.grid tbody tr td.table_image .table_image_wrapper img {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	opacity: .7;
	max-width: 64px;
	max-height: 64px;
	border: 1px solid rgba(0,0,0,0.5);
}

table.grid tbody tr td.table_image .table_image_wrapper img.avatar {
	border: 2px solid white;
	background-color: white;
}

table.grid tbody tr td.table_data {
	vertical-align: top;

}

table.grid tbody tr td.table_data .table_data_wrapper {
	position: relative;
}

table.grid tbody tr td.table_data .table_data_wrapper .contact_information_wrapper {

}

table.grid tbody tr td.table_data .table_data_wrapper .information {

}

table.grid tbody tr td.table_data .table_data_wrapper .information h2 {
	font-size: 22px;
	font-weight: 900;
	white-space: pre-line;
	color: #444;	
	line-height: 1em;
	word-break: break-word;
}

table.grid tbody tr td.table_data .table_data_wrapper .information .go_icon, table.grid tbody tr td.table_data .table_data_wrapper .information .status_icon {
	position: absolute;
	right: 1em;
	top: 50%;
	display: inline;
	visibility: hidden;
	vertical-align: middle;
}

table.grid tbody tr td.table_data .table_data_wrapper .actions {
	white-space: nowrap;
	position: absolute;
	top: 0;
	right: 180px;
	direction: rtl;
	vertical-align: top;
	text-align: right;	
	visibility: hidden;
	z-index: 300;
}

table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper {
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-khtml-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-khtml-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	background-color: rgba(255,255,255,.6);
	direction: ltr;
	display: inline;	
	position: absolute;
	top: 0;
	white-space: nowrap;
	text-align: center;
	border-top: 0 none;
}

table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper a, table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper em {
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-khtml-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-khtml-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	display: inline-block;
	color: #666 !important;
	border: 1px solid transparent;
}

table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper a:hover, table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper em:hover {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	background-color: white;
	color: #222 !important;
	border: 1px solid rgba(0,0,0,.1);
	border-top-color: transparent;
}

table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper a img, table.grid tbody tr td.table_data .table_data_wrapper .actions .actions_wrapper em img {
	vertical-align: middle;
}

table.grid tbody tr td .act_as_translucent {
	opacity: .5;
}

table.no_hand tbody tr:hover, table.no_hand tbody tr.hover {
	cursor: default !important;
}

table tbody tr td.centered, table tbody tr th.centered, table thead tr td.centered, table thead tr th.centered, table tfoot tr td.centered, table tfoot tr th.centered {
	text-align: center;
}

table tbody tr td.right_aligned, table tbody tr th.right_aligned, table thead tr td.right_aligned, table thead tr th.right_aligned, table tfoot tr td.right_aligned, table tfoot tr th.right_aligned {
	text-align: right;
}

table tbody tr td.left_aligned, table tbody tr th.left_aligned, table thead tr td.left_aligned, table thead tr th.left_aligned, table tfoot tr td.left_aligned, table tfoot tr th.left_aligned {
	text-align: left;
}

table tbody tr td.code, table tbody tr th.code, table thead tr td.code, table thead tr th.code, table tfoot tr td.code, table tfoot tr th.code {
	font-family: monaco, 'andale mono', 'lucida console', 'courier new', monospace;
}


/* Events + Agenda
 ------------------------------------- */
#events h3 {
	font-weight: normal;	
}
 
#events .event_title {
	margin: 0;
	font-size: 13px;
	padding: .5em 0 .5em 1em;
} 

#events .event_date {	
	padding: .5em 0 .5em 1em;
	font-size: 13px;
	width: 90px;  
	font-weight: bold;			
}

/* Profiles
 ------------------------------------- */
#profile_list {
	display: block; 
	border-style: solid; 
	word-wrap: break-word;	
}

#profile_list ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
}

#profile_list .list_horizontal {
	margin-bottom: 10px;
	padding-right: 10px;	
	display: block;
}

#profile_list .list_horizontal .portrait {
	margin: 2px 10px 10px 0px;
    width: 75px;
    word-wrap: break-word;
	height: 120px;
}

#profile_list .list_horizontal .portrait img {
	display: block; 
	background-color: #FFFFFF; 
	border: 1px solid #B2B2B2; 
	padding: 2px;
	width: 64px;
	height: 64px;
}

#profile_list .list_horizontal .portrait span {
	font-weight: bold;
}




 


