<a href="<%= events_path %>">
	<div class="first navigation_button <%= 'selected' if current_page?(:controller => 'events', :action => 'index') %>">
		<img src="/images/basic/calendar_32.png">
		<h2>Eventos</h2>
		<p>Lista de eventos agendados</p>
	</div>
</a>
<a href="<%= new_event_path %>">
	<div class="last navigation_button <%= 'selected' if current_page?(:controller => 'events', :action => 'new') %>">
		<img src="/images/basic/plus_32.png">
		<h2>Adicionar</h2>
		<p>Agendar um novo evento</p>
	</div>
</a>

<!--
<a href="#">
	<div class="navigation_button">
		<img src="/images/basic/right_32.png">
		<h2>Importar</h2>
		<p>Crie vários eventos de uma vez só.</p>
	</div>
</a>


<a href="#">
	<div class="last navigation_button">
		<img src="/images/basic/delete_32.png">
		<h2>Excluir v&aacute;rios</h2>
		<p>Exclua &aacute; eventos de uma vez s&oacute;.</p>
	</div>
</a>

-->