<a href="/orders">
	<div class="first navigation_button <%= 'selected' if current_page?(:controller => 'orders', :action => 'index') %>">
		<img src="/images/basic/buy_32.png">
		<h2>Pedidos</h2>
		<p>Lista de pedidos</p>
	</div>
</a>
<a href="/orders/new?type=out">
	<div class="navigation_button <%= 'selected' if current_page?(:controller => 'orders', :action => 'new') && params[:type] != 'in'%>">
		<img src="/images/basic/present_32.png">
		<h2>Vender</h2>
		<p>Criar um pedido para cliente</p>
	</div>
</a>
<a href="/orders/new?type=in">
	<div class="last navigation_button <%= 'selected' if current_page?(:controller => 'orders', :action => 'new') && params[:type] == 'in' %>">
		<img src="/images/basic/bundle_32.png">
		<h2>Comprar</h2>
		<p>Criar um pedido para estoque</p>
	</div>
</a>
