<% if @order.type && @order.type == 'in' %>
<h2>
	Editar Pedido de Compra
	<em class="heading_description">Criar pedido de compra no fornecedor</em>
</h2>

<% else %>

<h2>
	Editar Pedido de Venda
	<em class="heading_description">Criar pedido de venda para cliente</em>
</h2>
<% end %>

<p>
	Para editar um pedido basta adicionar os <b>produtos</b> que voc&ecirc; deseja, a quantidade e o preço de cada um deles. Se estiver criando um <b>pedido de venda</b> selecione também o nome <b>cliente</b>.
</p>


<br />
<br />

