<h2>Adicionar novo Contato
	<em class="heading_description">Ficha de Perfil do Cliente</em>
</h2>
<p>
	Preencha os dados da mesma forma que você preenche as <b>Fichas de Perfil do Cliente</b> fornecidas pela Mary Kay. N&atilde;o esque&ccedil;a de adicionar tamb&eacute;m o <b>Tom da Base</b>, <b>Descri&ccedil;&atilde;o da Pele</b> e <b>&Aacute;rea de Interesse</b>.
</p>

<%= render :partial => 'form' %>
<div class="clear"></div>

