<p>Ol&aacute; <%= @resource.email %>!</p>

<p>Algu&eacute;m pediu para alterar sua senha, voc&ecirc; pode alter&aacute;-la atrav&eacute;s do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se voc&ecirc; n&atilde;o pediu, ent&atilde; por favor ignore este e-mail.</p>
<p>Sua senha n&atilde;o ser&aacute; alterada somente depois acessar este link e para criar uma nova.</p>
