<%= javascript_include_tag 'views/products/index' %>
<h2>Adicionar novo Produto
	<em class="heading_description">Disponibilizar novo produto</em>
</h2>
<p>
	Depois de um grande trabalho de pesquisa nós tempos o prazer de disponibilizar alguns dos seus produtos favoritos. Estes são regularmente atualizados com informações importantes como preço, código Mary Kay, descrição e fotos. Se você não encontrar seu produto basta criar um <a href="#">Pedido de Novo Produto (clicando aqui)</a>.
</p>

<%= render :partial => 'form' %>
<div class="clear"></div>