<div id="footer">
	<ul class="copyright_info reset_style">
		<li><img src="/images/footer_logo_crm.png" alt="" id="footer_logo" class="reset_style center"></li>					
		<li>
			<a href="http://www.mkcrm.com.br" target="_blank">CRM - Mary Kay</a> - Este site n&atilde;o possui nenhum v&iacute;nculo com a Mary Kay Inc.
		</li>										    
	</ul>
	<!-- end copyright info, copyright info can be changed as desired -->
	<div class="footer_nav_container">
		<ul class="footer_nav reset_style">
			<li><a href="#">Sobre</a> /</li>
			<li><a href="http://blog.yourdomain.com.br">Blog</a> /</li>
			<li><a href="#">Desenvolvedores</a> /</li>
			<li><a href="#">Privacidade</a> /</li>
			<li><a href="#">Termos</a> /</li>
			<li><a href="#">Ajuda</a></li>
		</ul>
		<!-- end footer nav -->
		<ul class="social_profiles reset_style">
			<li><a href="mailto:suporte@yourdomain.com.br" target="_blank"><img title="Por e-mail: suporte@yourdomain.com.br" src="/images/icons/social_profiles/16/email.png"></a></li>
			<li><a href="http://www.facebook.com/profile.php?id=100002401217370" target="_blank"><img title="Facebook" src="/images/icons/social_profiles/16/facebook.png"></a></li>
			<!--
			<li><a href="#"><img title="Flickr" src="/images/icons/social_profiles/16/flickr.png"></a></li>
			-->
			<li><a href="http://twitter.com/mkcrm" target="_blank"><img title="Twitter" src="/images/icons/social_profiles/16/twitter.png"></a></li>			
			<li><a href="http://blog.yourdomain.com.br/feeds/posts/default"><img title="RSS feed" src="/images/icons/social_profiles/16/rss.png"></a></li>
			
		</ul>
		<!-- end social profiles nav -->
	</div>
	<div class="clear"></div>
</div>
<!-- end footer -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-PUT-YOUR-CODE-HERE']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

