<h2>Editar Ligação
	<em class="heading_description">Ligação realizada para <%= @contact_call.contact.name %></em>
</h2>
<p>
	Para exibir informa&ccedil;&otilde;es detalhadas do cliente clique nos links <a href="#show_contact_table"><b>editar</b></a>, obtenha mais informações sobre como <b>Como adicionar e gerenciar clientes</b> acessando a <a href="#">Central de Ajuda</a>.</b>
</p>

<%= render :partial => 'form' %>
<div class="clear"></div>
